node_modules
.env
coverage
coverage.json
typechain
greeter.sol
.npmignore
.eslintrc.js
.eslintignore
.prettierignore
.prettierignore
.prettierrc
.solhint.json
.solhintignore
yarn-error.log
index.ts
deploy.ts
tsconfig.json


#Hardhat files
cache
artifacts
test

